input {
border: 3px solid lightgray;
border-radius: 10px;
outline: none;
padding: 5px 5px;
margin: 0 10px 20px 0;
}
button {
border: 2px solid lightcyan;
border-radius: 4px;
background: green;
color: antiquewhite;
font-size: 18px;
padding: 5px;
}